
:root {
	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1534;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.text-blue {
	color: #45556c;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.143;
	letter-spacing: 0.6px;
}

.text1 {
	font-size: 20px;
	line-height: 1.4;
}

.text-black {
	color: #000;
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1.333;
	letter-spacing: 0.3px;
}



/* ui objects utility classes */

.input {
	border-radius: 4px;
}

.card-light {
	background-color: #f1f5f9;
	border: 1px solid #000;
	border-radius: 33554400px;
}

.card1 {
	display: flex;
	flex-direction: column;
	padding: 0 16px;
	border: 2px solid #000;
	border-radius: 10px;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}
